.card{
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
    background-color: aqua;
    border-radius: 16px;
    margin-bottom: 16px
}

.delete-btn{
    margin: 0 auto;
    width: 33%;
    justify-content: center;
    background-color: #FFC0CD; 
    font-size: 25px;
    border-radius: 8px;
}